/* Inter font Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}


/* Icons Styles */
.fa-solid{
    margin-left: 7px;
}


/* Shared Styles */
.nav-bar a{
    text-decoration: none;
}

.display-flex, .nav-btn{
    display: flex;
}

.nav-btn:hover, .btn-one:hover, .btn-two:hover{
    cursor: pointer;
    font-weight: bolder;
    transform: scale(1.1);
}

.linear-gradient{
    background: linear-gradient(45deg,rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.hr-design{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    border: 1px solid #594e4e;
}
.hr-design-two{
    width: 100%;
    border: 1px solid #594e4e;
}


/* Display None for Mobile Device */
.menu{
    display: none;
}


/* Header Section Styles */
header {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.nav-bar{
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
    height: 92px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-bar h1{
    color: #C4C4C4;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    font-size: 1rem;
    gap: 32px;
}

.nav-links a{
    padding: 5px;
}

.nav-links a:hover{
    border: 2px solid red;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
}

.nav-links a{
    color: #C4C4C4;
}

.nav-btn{
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 100px;
    text-align: left;
    padding-left: 15px;
    font-weight: 600px;
    font-size: 1rem;
    align-items: center;
    width: 130px;
    height: 44px;
    transition: transform 0.3s ease;
}

/* Banner Section Styles */
main{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

#banner{
    background-image: url('../assets/hero-bg.png');
    width: 100%;
    max-width: 1600px;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 760px;
    /* Banner Position Related */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 555px;
}

.banner-bg{
    border: 8px solid #2A186C;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-bg img{
    padding: 77px 116px 97px;
}

.banner-bg p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: -20px;
    width: 75px;
    height: 38px;
    top: 9%;
    right: -2%;
    background-color: #00FF88;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 8px 16px;
    border-radius: 50px;
}

.banner-text h1{
    color: #FFFFFF;
}

.banner-text p{
    color: #C4C4C4;
}

.banner-text h1{
    margin: 0;
    font-size: 4rem;
    font-weight: bolder;
}

.banner-text{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-btn{
    display: flex;
    gap: 10px;
}

.banner-btn a{
    text-decoration: none;
}

.btn-one, .btn-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: transform 0.3s ease;
}

.btn-one{
    width: 201px;
    height: 44px;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    color: #FFFFFF;
}

.btn-two{
    width: 147px;
    height: 44px;
    font-size: 1rem;
    border: 1px solid #00FF88;
    border-radius: 50px;
    background: none;
    color: #00FF88;
}

/* About Section Styles */
#about{
    width: 100%;
    max-width: 1600px;
    height: auto;
    padding-bottom: 120px;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.about-text h1{
    margin-top: 50px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3rem;
}

.about-text p, .about-card p{
    color:#C4C4C4;
    font-size: 1rem;
}

.about-card{
    margin-left: 30px;
    margin-right: 30px;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about-card h1{
    color: #00FF88;
    font-weight: bold;
}

/* Why Choose Section Styles */
#choose{
    background-color: #230E3D;
    width: 100%;
    max-width: 1600px;
    height: auto;
    padding-bottom: 120px;
}

.choose-question{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0 0 88px 0;
}

.choose-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    transition: transform 2s ease;
}

.choose-boxes img{
    width: 50px;
    height: 50px;
}

.choose-box-1{
    grid-row: span 2;
}

.choose-box-2{
    grid-column: span 2;
}

.choose-box-3{
    grid-column: span 2;
}

.choose-box-4{
    grid-column: span 2;
}

.choose-box-5{
    grid-column: span 1;
    font-size: 1rem;
}

.choose-boxes h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.choose-boxes p{
    color: #C4C4C4;
}

.choose-box{
    background-color: #2A0F4D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 40px;
    border-radius: 40px;
}

.choose-box:hover{
    transform: translateY(-20px);
}



/* Responsive Meadia Query */

/* Small Device */
@media screen and (max-width: 576px) {

    /* Header Section Responsive */
    .nav-bar{
        display: none;
    }
    .menu{
        width: 100%;
        max-width: 1600px;
        display: flex;
        align-items: center;
        background-color: #1A0B2E;
        justify-content: space-between;
    }
    .mobile-logo{
        background: linear-gradient(45deg, #F7E93F, #FB09B4);
        background-clip: text;
        color: transparent;
    }
    .menu a{
        margin: 0px 25px;
        text-decoration: none;
        color: white;
    }

    /* Banner Section Responsive */
    #banner{
        width: 100%;
        height: auto;
    }
    .banner-bg{
        margin-top: 100px;
        width: 150px;
        height: 150px;
    }
    .banner-bg img{
        width: 70px;
        height: 80px;
        margin-top: 20px;
        align-items: center;
    }
    .banner-container{
        width: 400px;
        max-width: 350px;
        height: 346px;
    }
    .banner-text h1{
        font-size: 2rem;
        gap: 24px;
    }
    .banner-text{
        margin-top: 30px;
        width: 100%;
        padding: 0 15px;
    }
    .banner-text h1{
        font-size: 2rem;
        text-align: center;
    }
    .banner-text p{
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.5;
        margin-top: 10px;
        word-wrap: break-word;
    }
    .banner-btn{
        flex-direction: row;
        gap: 12px;
        margin-top: 20px;
        width: 100%;
        margin-left: 15px;
    }
    .btn-one{
        width: 170px;
    }

    .banner-bg p{
        width: 50px;
        height: 20px;
        font-size: 1rem;
    }

    /* About section Responsive */
    #about{
        max-height: 620px;
        height: auto;
        gap: 20px;
    }
    .about-text{
        margin-top: 80px;
    }
    .about-text h1{
        gap: 20px;
        font-size: 2rem;
    }
    .about-text p{
        font-size: 1rem;
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-card{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        padding-bottom: 40px;
    }

    /* Why Choose Section Responsive */
    .choose-boxes{
        padding-left: 20px;
        padding-right: 20px;
    }
    .choose-question{
        font-size: 2rem;
        padding-top: 40px;
        padding-top: 40px;
        margin-bottom: -60px;
    }
    .choose-boxes h3{
        font-size: 1.25rem;
    }

    .choose-boxes{
        margin-top: 40px;
    }
    .choose-boxes{
        grid-template-columns: repeat(1, 1fr);
    }
    .choose-box{
        grid-column: span 1;
    }
    
}